body{
    background-color: #371685;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}
section{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.582) 5px 5px 10px;
    text-align: center;
}
footer{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
div#resultado{
    color: rgba(0, 0, 0, 0.747);
}

#copyright{
    font-style: italic;
    text-align: center;
}
#texto{
    text-align: center;
}
h1{
    color:rgba(0, 0, 0, 0.719)
}
